/**
 * Global Styles
 *
 * @remarks
 * - Imports Tailwind CSS base, components, and utilities.
 * - Defines custom CSS variables for light and dark themes.
 * - Sets default font and color styles for the body.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
