/**
 * Global Styles
 * Imported globally in your layout file.
 *
 * @remarks
 * This file imports Tailwind CSS’s base, components, and utilities while defining custom CSS variables
 * for light and dark themes. It also sets default styles for the HTML body.
 *
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
